# Puerto en el que corre el servidor HTTP
PORT=3000

# Cadena de conexión a MongoDB (Atlas o local)
MONGODB_URI=mongodb://localhost:27017/shipnow

# Entorno de ejecución: development | production | test
NODE_ENV=development
